html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    width: 600px;
}

.form-query input.full-width, .form-query button.full-width {
    width: 100%;
}

.form-query {
    margin-top: 20px;
}
